git pull
git remote add upstream https://github.com/coq/coq
git fetch upstream
git checkout main
git rebase upstream/master
git push

rm -fr doc ide man result
find . -name '*coqide*' | xargs rm -r
find . -name '*rocqide*' | xargs rm -r
nix flake update
use flake
dune clean
DUNEOPT=--display=quiet dune build @fmt
