git checkout main
git pull --rebase origin main
git remote add upstream https://github.com/coq/coq
git pull --rebase upstream master

rm -fr doc ide man result
find . -name '*coqide*' | xargs rm -r
find . -name '*rocqide*' | xargs rm -r
nix flake update
use flake
dune clean
DUNEOPT=--display=quiet dune build @fmt
