set -euo pipefail

git checkout main
git pull origin main
git remote add upstream https://github.com/coq/coq || :
git fetch upstream
git stash
git merge upstream/master -m 'sync with `coq/coq`'
git add -A
git commit -m 'local edits after syncing with `coq/coq`' || :
git push -u origin main
git stash pop || :

rm -fr doc ide man result
find . -name '*coqide*' | xargs rm -r
find . -name '*rocqide*' | xargs rm -r
nix flake update
use flake
dune clean
DUNEOPT=--display=quiet dune build @fmt
